body, html {
  margin: 0;
  padding: 0;
  color: green;
  background: black;
  font-size: 40px;
  overflow: hidden;
}

#logoscreen {
  background: blue;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Offside', cursive;
  padding: 5%;
}
#logoscreen .titletext {
}
#logoscreen .titletext .title {
  margin-top: 0.1em;
}
#logoscreen .console {
  font-size: 0.289em;
}
#logoscreen .console p {
  /* margin-left: 0.2em; */
}
#logoscreen .logo {
  font-size: 24px;
  text-align: center;
}
#logoscreen .logo img {
  width: 100%;
}

#connectionscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#mainconsole {
  position: absolute;
  bottom: 0;
  left: 0;
}

.console {
  font-family: 'VT323', cursive;
  padding-top: 10px;
  width: 100%;
  overflow-x: hidden;
}
.console > .line {
  margin: 0;
  padding: 0;
  white-space: pre;
  text-shadow: -1px 1px 3px rgba(64,192,64,0.2),
               1px -1px 3px rgba(64,192,64,0.2);
  animation: fadeouttext 1s;
  -webkit-animation: fadeouttext 1s; /* Safari and Chrome */
}
.line > .random {
  text-shadow: -1.5px  1.5px 3px rgba(128,255,128,0.9), 
                1.5px -1.5px 3px rgba(128,255,128,0.9);
}

@keyframes fadeouttext {
  from {
    text-shadow: -1.5px  1.5px 3px rgba(128,255,128,0.9), 
                  1.5px -1.5px 3px rgba(128,255,128,0.9);
  }
  to {
    text-shadow: -1px 1px 3px rgba(64,192,64,0.2),
                 1px -1px 3px rgba(64,192,64,0.2);
  }
}

@-webkit-keyframes fadeouttext /* Safari and Chrome */ {
  from {
    text-shadow: -1.5px  1.5px 3px rgba(128,255,128,0.9), 
                  1.5px -1.5px 3px rgba(128,255,128,0.9);
  }
  to {
    text-shadow: -1px 1px 3px rgba(64,192,64,0.2),
                 1px -1px 3px rgba(64,192,64,0.2);
  }
}

#samposcreen {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #420;
}
#sampoconsole {
  position: absolute;
  bottom: 0;
  left: 7%;
  min-height: 85%;
  width: 86%;
}

#meters {
  position: absolute;
  top: 0;
  left: 7%;
  height: 17%;
  width: 86%;
  background: #420;
  background: linear-gradient(to bottom, rgba(68,34,0,1) 0%,rgba(68,34,0,1) 90%,rgba(68,34,0,0) 100%);
}

.meter {
  position: relative;
  float: left;
  width: 14%;
  height: 80%;
  padding: 10px;
  overflow: visible;
}
.meter .title {
  height: 25%;
  overflow: visible;
}
.meter .value{
  height: 70%;
  overflow: visible;
}
.meter .bar {
  position: absolute;
  bottom : 0;
  left: 5%;
  height: 5%;
  background: orange;
}

#rand {
  position: absolute;
  bottom: 0;
  left: 1%;
  min-height: 100%;
  width: 5.5%;
}
#rand2 {
  position: absolute;
  bottom: 0;
  left: 93%;
  min-height: 100%;
  width: 5.5%;
}

#samposcreen #meters,
#samposcreen .console > .line {
  font-family: 'Offside', cursive;
  color: orange;
  text-shadow: -1px 1px 3px rgba(192,192,64,0.2),
               1px -1px 3px rgba(192,192,64,0.2);
  animation: none;
  -webkit-animation: none;
}
#samposcreen .line > .random {
    text-shadow: -1.5px  1.5px 3px rgba(255,255,191,0.9), 
                  1.5px -1.5px 3px rgba(255,255,191,0.9);
}

@keyframes fadeouttext_orange {
  from {
    text-shadow: -1.5px  1.5px 3px rgba(255,255,191,0.9), 
                  1.5px -1.5px 3px rgba(255,255,191,0.9);
  }
  to {
    text-shadow: -1px 1px 3px rgba(192,192,64,0.2),
                 1px -1px 3px rgba(192,192,64,0.2);
  }
}

@-webkit-keyframes fadeouttext_orange /* Safari and Chrome */ {
  from {
    text-shadow: -1.5px  1.5px 3px rgba(255,255,191,0.9), 
                  1.5px -1.5px 3px rgba(255,255,191,0.9);
  }
  to {
    text-shadow: -1px 1px 3px rgba(192,192,64,0.2),
                 1px -1px 3px rgba(192,192,64,0.2);
  }
}
